.inputSection {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    scale: 1;
    transition: scale 0.3s ease-in-out;
}

.inputSection:hover {
    scale: 1.05;
    transition: scale 0.3s ease-in-out;
}

.input {
    width: 300px;
    font-weight: 600;
}

.error {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(201, 84, 0);
}